.about {
  display: flex;
  max-width: 1180px;
  margin: 100px auto 0;
  justify-content: space-between;
}

.about__wrapper {
  padding: 0 10px;
  display: flex;
  margin: 0 auto;
}

.about__text {
  max-width: 600px;
  margin-right: 30px;
}

.about__title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.about__subtitle {
  margin: 35px auto 0;
  color: #8F95A5;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__card-text{
  margin: 0 auto;
  color: #8F95A5;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
 
.about__number {
  margin: 70px 0 0 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.about__image {
  max-width: 500px;
  max-height: 500px;
}

.about__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1150px){
  .about__wrapper {
    padding: 0 30px;
  }

  .about__text {
    max-width: 500px;
  }

  .about__image {
    max-width: 450px;
    max-height: 450px;
  } 
  
  .about__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px){
  .about__text {
    max-width: 400px;
  }  

  .about__title {
    font-size: 36px;
  }

  .about__subtitle {
    margin-top: 20px;
  }

  .about__number {
    margin-top: 30px;
    font-size: 30px;
    line-height: 60px;
  }

  .about__card-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .about__text {
    max-width: 300px;
  }  

  .about__title {
    font-size: 30px;
  }

  .about__subtitle {
    margin-top: 16px;
    font-size: 14px;
  }

  .about__number {
    margin-top: 20px;
    font-size: 26px;
    line-height: 40px;
  }

  .about__card-text {
    font-size: 14px;
  }

  .about__image {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 650px) {
  .about__wrapper {
    padding: 0 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .about__image {
    max-width: 350px;
  }

  .about__text {
    margin-right: 0;
    max-width: 510px;
    text-align: center;
  }

  .about__number {
    font-size: 20px;
  }

  .about__card-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 650px) {
  .about__columns {
    flex-direction: column;
  }

  .about__number {
    font-size: 30px;
  }

  .about__card-text {
    font-size: 20px;
  }
}