.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1180px;
  margin: 100px auto 0;
}

.pricing__title {
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
}

.pricing__cards {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px auto 0;
}

.pricing__card {
  max-width: 350px;
  margin-right: 40px;
}

.pricing__card:last-child {
  margin-right: 0;
}

.pricing__image {
  max-width: 350px;
  max-height: 350px;
}

.pricing__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.pricing__card-title {
  margin: 50px 0 0 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.pricing__card-subtitle {
  margin: 50px 0 0;
  color: #8F95A5;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 90px;
}

.pricing__cost {
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #EEE;
  padding: 10px 20px;
  max-width: fit-content;
}

.pricing__cost-number {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.pricing__cost-text {
  color: #546269;
  font-size: 18px;
  margin: 0;
  padding: 0 0 0 10px;
}

@media screen and (max-width: 1150px){
  .pricing__card {
    max-width: 290px;
  }

  .pricing__card-title {
    font-size: 26px;
  }

  .pricing__card-subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 980px){
  .pricing__title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .pricing__card {
    max-width: 250px;
  }

  .pricing__card-title {
    font-size: 22px;
  }

  .pricing__card-subtitle {
    font-size: 16px;
  }

  .pricing__cost {
    margin-top: 30px;
  }

  .pricing__cost-number {
    font-size: 20px;
  }

  .pricing__cost-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px){
  .pricing {
    margin-top: 50px;
  }

  .pricing__title {
    font-size: 34px;
  }

  .pricing__card {
    max-width: 200px;
    margin-right: 20px;
  }

  .pricing__card-title {
    margin-top: 20px;
    font-size: 20px;
    height: 60px;
  }

  .pricing__card-subtitle {
    margin-top: 20px;
  }

  .pricing__cost {
    margin-top: 30px;
  }

  .pricing__cost-number {
    font-size: 18px;
  }

  .pricing__cost-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px){
  .pricing {
    margin-top: 20px;
  }

  .pricing__title {
    font-size: 40px;
  }

  .pricing__cards {
    flex-direction: column;
    margin: 30px auto;
  }

  .pricing__card {
    max-width: 450px;
    margin-right: 0;
    text-align: center;
  }

  .pricing__image {
    margin: 0 auto;
  }

  .pricing__card-title {
    margin-top: 20px;
    font-size: 30px;
  }

  .pricing__card-subtitle {
    margin-top: 20px;
    height: 40px;
  }

  .pricing__cost {
    margin: 20px auto;
  }
}

@media screen and (max-width: 450px){
  .pricing {
    padding: 0 10px;
    margin-top: 60px;
  }

  .pricing__title {
    font-size: 26px;
  }

  .pricing__card {
    max-width: 350px;
  }

  .pricing__image {
    margin: 0 auto;
  }

  .pricing__card-title {
    margin-top: 10px;
    font-size: 20px;
    height: 24px;
  }

  .pricing__card-subtitle {
    margin-top: 20px;
    font-size: 12px;
    height: 50px;
  }

  .pricing__cost {
    margin: 10px auto;
  }

  .pricing__cost-number {
    font-size: 16px;
  }

  .pricing__cost-text {
    font-size: 12px;
  }
}