.contact {
  max-width: 1180px;
  padding: 0 20px;
  margin: 100px auto 0;
  display: grid;
  grid-template-columns: 500px auto;
  grid-column-gap: 20px;
  grid-template-areas: 
  "picture title"
  "picture container";
}

.contact__title {
  margin: 0 0 40px;
  font-size: 48px;
  font-weight: bold;
  grid-area: title;
  align-self: end;
}

.contact__container {
  grid-area: container;
}

.contact__text {
  padding: 0;
  margin: 0;
  color: #8F95A5;
  font-size: 20px;
}

.contact__form {
  margin: 50px 0;
  display: flex;
}

.contact__label {
  display: block;
}

.contact__input {
  border-radius: 10px;
  border: 1px solid #8F95A5;
  margin-right: 30px;
  display: block;
  width: 330px;
  height: 30px;
  padding: 10px;
  font-size: 24px;
}

.contact__input::placeholder {
  color: #212529;
  opacity: 0.4;
  font-size: 24px;
}

.contact__btn {
  color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  background: #263238;
  font-size: 20px;
}
 
.contact__image {
  grid-area: picture;
  max-width: 480px;
  max-height: 480px;
}

.contact__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1150px) {
  .contact {
    grid-template-columns: 350px auto;
  }
}

@media screen and (max-width: 1005px) {
  .contact {
    grid-template-columns: 350px 450px;
  }

  .contact__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .contact__text {
    font-size: 18px;
  }

  .contact__form {
    margin: 25px auto;
  }

  .contact__input {
    width: 200px;
    font-size: 20px;
  }

  .contact__input::placeholder {
    font-size: 20px;
  }
}

@media screen and (max-width: 885px) {
  .contact {
    grid-template-columns: 300px 350px;
  }

  .contact__input {
    width: 180px;
    margin-right: 10px;
    font-size: 16px;
  }

  .contact__input::placeholder {
    font-size: 16px;
  }

  .contact__btn {
    padding: 5px 30px;
  }
}

@media screen and (max-width: 730px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title"
    "picture"
    "container";
    margin: 50px auto;
  }

  .contact__title {
    text-align: center;
  }

  .contact__image {
    margin: 40px auto;
  }

  .contact__text {
    text-align: center;
  }

  .contact__form {
    margin: 20px auto;
    max-width: fit-content;
  }

  .contact__input {
    width: 200px;
  }

  .contact__btn {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .contact__title {
    font-size: 26px;
  }

  .contact__text {
    font-size: 14px;
  }

  .contact__form {
    flex-direction: column;
    align-items: center;
  }

  .contact__input {
    margin-right: 0;
  }

  .contact__btn {
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 18px;
  }
}